.card-in-hand{
    width: 75px;
    height: 75px;
    border: 2px solid #206c01;
    border-radius: 4px;
    font-size: small;
}
.card-in-hand:hover{
    cursor: pointer;
    background-color: #9ed974;
    border: 5px
}

.tooltip {
    max-width: 300px; /* Prevents overly wide tooltips */
    white-space: normal; /* Allows wrapping of long text */
    overflow: hidden; /* Ensures no content spills outside */
}

.selected-card{
    width: 75px;
    height: 75px;
    padding: 5px;
    border: 3px solid rgba(82, 120, 73, 0.61);
    border-radius: 4px;
    font-size: small;
    background-color: #9bec4c;
}