
.cell {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}
.available-cell {
    width: 60px;
    height: 60px;
    background-color: #9ed974;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #456e34;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.selected-cell {
    width: 60px;
    height: 60px;
    background-color: #efe680;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #9fae1c;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.submitted-cell {
    width: 60px;
    height: 60px;
    background-color: #84af56;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #d9e46b;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.selected-cell:hover {
    background-color: #e8df94;
    border: 3px solid #9fae4f;
}

.available-cell:hover {
    background-color: #b7e497;
    border: 3px solid #527849;
}

