.game-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.boards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.small-board, .large-board {
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.opponent-board {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.5rem;
}

.table-row {
    display: flex;
    gap: 5px;
}

.large-board .availableCell {
    width: 75px;
    height: 75px;
    background-color: #9ed974;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #456e34;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.large-board .swapCellSelected {
    width: 75px;
    height: 75px;
    background-color: #efe680;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #9fae1c;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.large-board .swapCellSelected:hover {
    background-color: #e8df94;
    border: 3px solid #9fae4f;
}

.large-board .availableCell:hover {
    background-color: #b7e497;
    border: 3px solid #527849;
}

.large-board .cell {
    width: 75px;
    height: 75px;
    /*border: 3px solid #ccc;*/
}

.panels-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hand-container {
    padding: 5px;
    background-color: #d0e1ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 16px;
}

/* Styling for the game table */
.action-panel {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.23);
    border: 4px solid #ccc;
    border-radius: 4px;
    overflow: hidden; /* Ensure the overlay fits perfectly */
}

/* The overlay to disable and dim the action-panel */
.game-disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(197, 196, 196, 0.5); /* Dim effect */
    z-index: 10;
    border-radius: 4px;
}

/* Add pointer-events to prevent interactions with the game content */
.action-panel.disabled .game-disabled-overlay {
    pointer-events: auto; /* Blocks user actions */
}

.game-panel {
    position: relative;
    z-index: 1;
}

