
body, html, .container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}
.nav-custom{
    background-color: rgba(248, 249, 250, 0.24) ;
}

.accordion-item-custom .col{
    align-content: center;
}

.accordion-header{
    background-color: rgba(255,255,255,0.0);
}
.rules-container{
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.container {
    width: 100%;
}
.accordion-button{
    background-color: rgba(191, 191, 191, 0.1) !important;
}
.accordion-item{
    background-color: rgba(191, 191, 191, 0.25) !important;
}
.rules-cards{
    width: 80px;
}

.big-card{
    width:400px;
    opacity: 1 !important;
}
.big-card .tooltip-inner {
    max-width: none; /* Removes Bootstrap's max-width restriction */
    width: 400px; /* Set a fixed width */
    height: auto; /* Optional: Adjust height as needed */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.action-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}
