
body, html, .container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}
.nav-custom{
    background-color: rgba(248, 249, 250, 0.24) ;
}

.accordion-header{
    background-color: rgba(255,255,255,0.0);
}
.accordion-item{
    background-color: rgba(255,255,255,0.25);
}
.accordion-collapse .collapse .show{
    background-color: rgba(255,255,255,0.25);
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
    background: rgba(0, 0, 0, 0.5);
}
.container {
    width: 100%;
}
.rules-cards{
    width: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.action-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}
