.ranking-table {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    border: 5px solid #ddd;
    border-radius: 20px;  /* Rounded corners for the table */
    margin-bottom: 10px;
    background-color: #c7fbd5;
    overflow: hidden; /* Hide overflow to create the cut corner effect */
}

/* Header Row */
.ranking-header {
    display: flex;
    background-color: #34db5e;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin-top: -5px; /* Negative margin to align within the rounded corners */
    margin-left: -5px; /* Align with the rounded corners of the table */
    margin-right: -5px;
    padding: 10px;
    border-radius: 15px 15px 0 0; /* Round the top corners of the header */
}

/* Individual Cells (Header and Data Rows) */
.header-cell, .ranking-slot > div {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
}

/* Data Rows */
.ranking-slot {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-left: -5px; /* Negative margin to align within the rounded corners */
    margin-right: -5px; /* Align with the rounded corners of the table */
}

.ranking-slot:first-child {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
}

.ranking-slot:last-child {
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
}

.name, .sum-points, .card-points {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.card-points {
    background-color: rgba(82, 120, 73, 0.61);
    border-radius: 5px;
    font-weight: bold;
}